<!--recommended-->
			<div class="col-md-3 col-sm-3 col-lg-3 hidden-xs">
				<span class="nav_bar" footer>
	         	<!-- <img src="/static/images/image.jpg" class="img-responsive  nv nv1">
	         	<img src="/static/images/image.jpg" class="img-responsive  nv nv1">
	         	<img src="/static/images/image.jpg" class="img-responsive  nv nv1">
	         	<img src="/static/images/image.jpg" class="img-responsive  nv nv1">
	         	<img src="/static/images/image.jpg" class="img-responsive  nv nv1"> -->
	         	{%for ad in ads%}
	         	<a href="{{ad.url}}" target="_blank">
		         	<!-- <center>
		         		<b>
		         			{{ad.title}}
		         		</b>
		         	</center> -->
		         	<img src="/static/images/ads/{{ad.logo}}" class="img-responsive  nv nv1 ads" title="{{ad.title}}" style="border:1px solid #2CC990">
		        </a>
	         	{%endfor%}
	         	</span>
            </div>
        </div>
	</div>
	<!--footer start from here-->
	<br>
	<script type="text/javascript">
		$(document).ready(function() {
		  $(window).scroll(function () {
		      //console.log($(window).scrollTop())
		    if ($(window).scrollTop() > 50) {
		      $('.nav_bar').addClass('navbar-fixed');

		    }
		    if ($(window).scrollTop() < 100) {
		      $('.nav_bar').removeClass('navbar-fixed');
		    }
		  });
		});
	</script>

</body>	
</html>