<!DOCTYPE html>
<html>
<head>
	<title>Angkorjob | Job search engine in Cambodia</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/style1.css">
	<meta name="keywords" content="Job Cambodia,internship in Phnom Penh, Siem Reab, BattamBong,Looking for a job?,job seekers,"/>
	<meta name="description" content="angkorjob is a job search engine in Cambodia, WE provide jobs in Cambodia"/>
	<link href="/static/images/logo.png" rel="shortcut icon">

	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1690843304512998";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

</head>
<body>
	<!--banner-->
	<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 banner">
		<div class="container">
			<div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
		        <!--navbar-->
		        <div class="col-xs-12 col-sm-11 col-md-12 col-lg-11">
				    <nav class="navbar navbar-inverse">
					  	<div class="container-fluid">
							 	<div class="navbar-header" style="padding:0px;">
							      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="padding:0px;">
							        <span class="sr-only">Toggle navigation</span>
							        <span class="icon-bar"></span>
							        <span class="icon-bar"></span>
							        <span class="icon-bar"></span>
							      </button>
							     	 <a class="navbar-brand" href="/" style="color:white;padding-left:0px;">AngkorJobs.com</a>
							    </div>
							    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
							      <!-- <ul class="nav navbar-nav navbar-right">
							        <li><a href="#" style="color:black;">About Us</a></li>
							      </ul> -->
							    </div>
						</div>
					</nav>
				</div>
				<!--end navbar-->
			</div>
    	</div>
	</div>
	<!--end banner-->
	<div class="container" style="padding:0px;">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box1">
			<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 hidden-xs">
			</div>
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" style="padding:0px;">
				<div class="row mycat" >
					<div class="col-xs-12 col-sm-6 selectcat1">
			           <!--  <a class="btn btn-default btn-select">
			                <input type="hidden" class="btn-select-input" id="" name="" value="" />
			                <span class="btn-select-value">Select an Item</span>
			                <span class='btn-select-arrow fa fa-chevron-down'></span>
			                <ul>
			                    <li class="selected">Categories </li>
			                    {%for cat in categories%}
									<li value="{{cat.category}}">
										{{cat.category}}
									</li>
								{%endfor%}
			                </ul>
			            </a> -->
			            <div class="col-xs-12 col-sm-12 nopadding" >
				        	<select class="form-control form-control-no-border"  name="category" id="select_category" >
				            	<option value="1">Category</option>
				            	{%for cat in categories%}
				            		<option value="{{cat.category.replace('/',' ')}}">
				            		{{cat.category}}
				            		</option>
				            	{%endfor%}
				            </select>
				        </div>
			        </div>
			        <div class="col-xs-12 col-sm-6 selectcat1">
			            <!-- <a class="btn btn-default btn-select">
			                <input type="hidden" class="btn-select-input" id="" name="" value="" />
			                <span class="btn-select-value">Select an Item</span>
			                <span class='btn-select-arrow fa fa-chevron-down' ></span>
			                <ul>
			                    <li class="selected">Location</li>
			                    {%for locat in locations%}
			                    	<li value="{{locat.location}}">
			                    		{{locat.location}}
			                    	</li>
			                    {%endfor%}
			                </ul>
			            </a> -->
			            <div class="col-xs-12 col-sm-12 nopadding">
				        	<select class="form-control form-control-no-border"  name="location" id="select_location">
				            	<option value="1">Location</option>
				            	{%for l in locations%}
				            		<option value="{{l.location}}">
				            		{{l.location}}
				            		</option>
				            	{%endfor%}
				            </select>
				        </div>
			        </div>
			        <div class="col-xs-12 col-sm-12 col-md-12 selectcatsearch">
				        <form role="search" name="s" method="GET" action="/jobs/search/"/>      
				            <div class="input-group"> 
				            	<input class="form-control" id="appendedInput" type="text" placeholder="Search..." name="q" style="border-radius:0px;" value="{{search_str}}" required> 

						        <div class="input-group-btn">
						          <input type="submit" value="Search" class="btn btn-primary"/>
						            <!-- <span class="fa fa-search" aria-hidden="true" >
						            	
						            </span> -->
						          <!-- </button>              -->
						        </div> 
						    </div>
						</form>
						<center>
							<small style="padding-bottom:0px;">
								<p style="padding-top: 8px;color:#8C7C7C;">
								About {{query_result}} result(s) <!-- (0.49 seconds)  -->
								</p>
							</small>
						</center>
			        </div>
				</div>